{% extends './base.html' %}
{%block content %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">S/N</th>
            <th scope="col">Room Number</th>
            <th scope="col">Capacity</th>
            <th scope="col">Number of Occupants</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {%for room in rooms%}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>  
              <td>{{room.room_number}}</td>
              <td>{{room.capacity}}</td>
              <td>{{room.occupants}}</td>
              <td><a href="{%url 'select_room' room.id%}" class="btn btn-sm text-light btn-primary">Select</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{%endblock content%}